html {
	font-size: 20px;
}

body {
	height: 100%;
	width: 100%;
}

.header {
	height: 4rem;
	width: 100%;
	
}

.header-title {
	color: #026cdf;
	text-align: center;
	padding: 1rem;
	font-family: 'Hind Madurai', sans-serif;
	font-size: 2rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 1rem;
}

.left {
	grid-area: 1 / 1 / 6 / 2;
	
}


.right {
	grid-area: 1 / 2 / 6 / 6;
}

@media screen and (max-width:768px) {
	
	.container {
		display: flex;
		flex-flow: column;
	}

	.search-form {
		display: block;
		height: 200px;
		background-color: white;
		position: absolute;
	}
}