
:root {
	--primary-color: #007bff;
	--secondary-color: #6c757d; 
	--button-color:#014791;
	--button-color-hover:#026cdf; 
	
	
	--main-font: 'Times new roman', serif;
	--heading-font: 'Athiti', sans-serif;
	--font-size-base: 20px;
	--font-size-small: 14px;
	--font-size-large: 20px;
	
}