.event-image {
	width: 110%;
	opacity: 0.7;
	filter: blur(4px);
	position: fixed;
	top: -10px;
	left: -10px;
	z-index: -1;
}

.event__container {
	width: 100vw;
	position: fixed;
	top: 25%;
	height: 500px;
	background-color: #fff;
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.event-details__container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center;
	width: 50%;
}


.event-details__performers,
.event-details__date,
.event-details__time,
.event-details__venue,
.event-details__tickets,
.event-details__category {
	font-family: var(--font-base);
	font-size: var(--font-size-base);
	color: var(--secondary-color);
}

.event-details__name{
	color: #000;
	font-size: var(--font-size-large);
	font-family: var(--font-heading);
}

.event-details__performer {
	font-family: var(--font-heading);
	font-size: var(--font-size-base);
	font-weight: 600;
	margin-top: 2rem;
}

.event-performer-image__container {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-image__container {
	display: flex;
	flex-flow: row;
	align-items: end;
	justify-content: center;
}

.event-details__performer-image {
	width: 500px;
}





.event-details__button {
	padding: 5px 10px;
	background-color: var(--button-color);
	border-radius: 5px;
	color: #fff;
	font-size: var(--font-size-base);
	font-weight: 600;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
	font-family: var(--font-heading);
	margin-top: 2rem;
}

.event-details__button:hover {
	background-color: var(--button-color-hover);
}

.event-back {
	font-size: 1rem;
	top: 1rem;
	left: 1rem;
	padding: 0.5rem 1rem;
	color: white;
	z-index: 3;
	background-color: black;
	border-radius: 10px;
	position: absolute;
	transition: all 200ms ease-in-out;
}

.event-back:hover {
	box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

@media only screen and (max-width: 1400px) {
	.event__container {
		width: 100vw;
		top: 30%;
		height: 700px;
		position: absolute;
		background-color: #fff;
		display: flex;
		flex-flow: column;
	}
	
	.event-details__container {
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	
	.event__image-container {
		display: none;
	}
	
	.event-details__name {
		margin-top: 4rem;
	}
	
	.event-details__performer-image {
		display: none;
	}
	
}

/* Adjust the grid for very small screens */
@media only screen and (max-width: 500px) {
	.event__container {
		width: 100vw;
		position: absolute;
		top: 30%;
		background-color: #fff;
		display: flex;
		flex-flow: column;
	}
	
	.event__image-container {
		display: none;
	}
	
	.event-details__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	
	
}
