/* Base styles for the forms */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Initially display both forms */
.header .container__search,
.main .container__search {
  display: block;
}

/* Hide the form in the header on desktop and in main on mobile */
@media (min-width: 768px) {
  .header .container__search {
    display: none;
  }
}

@media (max-width: 767px) {
  .main .container__search {
    display: none;
  }
}

/* Additional styles as previously defined */
.search-form__label {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

small {
  color: #666;
}

.search-form__input,
.search-form__category-select {
  width: 100%; /* Makes input take full width of the form */
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.search-form__input:focus,
.search-form__category-select:focus {
  border-color: #0056b3; /* A blue focus color */
}

.date-range-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.date-range-container input[type="date"] {
  flex-grow: 1;
  padding: 10px;
}

.search-form__button-clear {
  background-color: #f44336; /* Red color for clear action */
}

.button {
  padding: 10px 15px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .search-form {
    padding: 10px;
  }

  .button {
    padding: 10px 20px;
  }
}

/* Specific classes for buttons to differentiate them */
.search-form__button-clear,
.container__search-favorites {
  background-color: #007bff; /* Consistent blue for primary actions */
}

.container__search-favorites {
  padding: 10px 50px; /* Larger padding for emphasis on favorite events */
}