.search-form {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.search-form__label {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: var(--font-size-small);
  color: #333;
  margin-top: 1rem;
}

small {
  color: grey;
}

.search-form__input {
  padding: 0.4rem;
  font-size: var(--font-size-small);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  transition: 200ms ease-in-out;
}

.search-form__input:focus {
  outline: none;
  border: 1px solid #000;
}

.search-form__category-select {
  padding: 0.4rem;
  font-size: var(--font-size-small);
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.search-form__category-select:focus {
  outline: none;
  border: 1px solid #000;
}

.search-form__button {
  padding: 0.4rem 0.8rem;
  font-size: var(--font-size-base);
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 2rem;
}

.search-form__button:hover {
  background-color: var(--button-color-hover);
}

.search-form__button-clear {
  padding: 0.4rem 0.8rem;
  font-size: var(--font-size-small);
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.search-form__button-clear:hover {
  background-color: var(--button-color-hover);
}




